PORT = 3001

DB_USER = "postgres"
DB_HOST = "localhost"
DB_DATABASE = "supplier_service"
DB_PASSWORD = "postgres"
DB_PORT = 5433

USER_SERVICE_URL = "http://localhost:3002"
JWT_SECRET=super-secret-development-key-change-in-prod
